APP_NAME=PayFlow
APP_ENV=development
APP_PORT=8080

DB_URL=postgres://postgres:password@localhost:5432/PayFlow?sslmode=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0


JWT_SECRET=afc251baef1c48a47fb47b7898e2adc90d96e150c2b1613b73c2515d4351c26c
JWT_EXPIRES_IN=24h


ALLOWED_ORIGINS=http://localhost:5173


WEBHOOK_BASE_URL=http://localhost:8080


# SMTP_HOST=
# SMTP_PORT=
# SMTP_USERNAME=
# SMTP_PASSWORD=
# SMTP_FROM=